*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f3f3f3;
}

.container{
    display:flex;
    min-height:100vh;
}

.sidebar{
    width:230px;
    background:#fff;
    padding:20px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.logo{
    display:flex;
    gap:10px;
    align-items:center;
}

.logo i{
    color:#1db954;
    font-size:35px;
}

.logo h2{
    color:#1a9b44;
}

.logo p{
    font-size:11px;
    color:#666;
}

nav{
    margin-top:40px;
}

nav a{
    display:flex;
    gap:12px;
    padding:14px;
    margin-bottom:10px;
    border-radius:8px;
    cursor:pointer;
}

nav .active{
    background:#3ecf78;
    color:#fff;
}

.sidebar-card{
    background:#d7f0df;
    text-align:center;
    padding:20px;
    border-radius:15px;
}

.sidebar-card{
    font-size:40px;
}

.sidebar-card p{
    margin:10px 0;
}

.sidebar-card span{
    font-size:14px;
}

.main{
    flex:1;
    padding:20px;
}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.menu{
    font-size:25px;
}

.search{
    width:45%;
    background:white;
    padding:12px 20px;
    border-radius:10px;
    display:flex;
    gap:10px;
}

.search input{
    border:none;
    outline:none;
    width:100%;
}

.profile{
    display:flex;
    align-items:center;
    gap:15px;
}

.profile img{
    border-radius:50%;
}

.banner{
    height:160px;
    margin:20px 0;
    border-radius:15px;
    background:linear-gradient(to right,#dbefff,#c8f7d0);
    padding:30px;
}

.banner span{
    color:#1fa84c;
}

.cards{
    display:grid;
    grid-template-columns:2fr 2fr 2fr;
    gap:15px;
}

.card{
    background:white;
    border-radius:15px;
    padding:20px;
}

.green{
    border:2px solid green;
}

.orange{
    border:2px solid orange;
}

.card h2{
    color:#0e9f4b;
}

.card span{
    background:#0e9f4b;
    color:white;
    padding:4px 8px;
    border-radius:10px;
}

.card button{
    width:100%;
    background:orange;
    border:none;
    padding:10px;
    border-radius:10px;
}

.stats{
    display:flex;
    gap:10px;
}

.stats div{
    flex:1;
    background:white;
    border-radius:15px;
    text-align:center;
    padding:20px;
}

.title{
    margin:25px 0 15px;
}

.guide{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:15px;
}

.box{
    padding:20px;
    border-radius:15px;
}

.bio{
    background:#d8f0dd;
}

.recycle{
    background:#dfe7ff;
}

.non{
    background:#eceaea;
}

.box ul{
    margin-left:20px;
    margin-top:10px;
}

.bottom{
    display:grid;
    grid-template-columns:1.2fr 1fr;
    gap:15px;
    margin-top:20px;
}

.notifications,
.community{
    background:white;
    padding:20px;
    border-radius:15px;
}

.community{
    background:linear-gradient(to right,#2aa95d,#c8f0d7);
    color:white;
}

.community button{
    margin-top:15px;
    background:white;
    color:#208f50;
    border:none;
    padding:10px 15px;
    border-radius:8px;
}

@media(max-width:900px){

    .container{
        flex-direction:column;
    }

    .sidebar{
        width:100%;
    }

    .cards,
    .guide,
    .bottom{
        grid-template-columns:1fr;
    }

    header{
        flex-direction:column;
        gap:15px;
    }

    .search{
        width:100%;
    }
}